@import "../../scss/variables";
.cart {
    .container {
        .cart-title {
            padding: 10px 0 10px;
            display: flex;
            justify-content: space-between;
            border-bottom: 2px solid $primary-color;
        }
        .row {
            .col-12.col-md-8 {
                .table {
                    border: 1px solid #999;
                    background: white;
                    border-radius: $border-radius;
                    border-collapse: collapse;
                    thead {
                        tr {
                            th {
                            }
                        }
                    }
                    tbody {
                        tr {
                            td {
                                vertical-align: middle;
                                .product {
                                    display: flex;
                                    align-items: center;
                                    .wrapper-img {
                                        width: 130px;
                                        height: 150px;
                                        img {
                                            width: 100%;
                                            height: 100%;
                                        }
                                    }
                                    .product-info {
                                        margin-left: 5px;
                                        .title {
                                            font-size: 20px;
                                            font-weight: 800;
                                        }
                                        .author {
                                            color: #999;
                                        }
                                    }
                                }
                                .price {
                                }
                                .discount {
                                    font-weight: 900;
                                }
                                .control-quantity {
                                    display: flex;
                                    align-items: center;
                                    .minus {
                                        width: 30px;
                                        height: 30px;
                                        font-size: 30px;
                                        flex: 1;
                                        line-height: 30px;
                                        color: white;
                                        background-color: #999;
                                        cursor: pointer;
                                        text-align: center;
                                    }
                                    .number {
                                        flex: 1;
                                        text-align: center;
                                    }
                                    .plus {
                                        color: white;
                                        text-align: center;
                                        cursor: pointer;
                                        background-color: #999;
                                        line-height: 30px;
                                        width: 30px;
                                        height: 30px;
                                        font-size: 30px;

                                        flex: 1;
                                    }
                                }
                                .total {
                                }
                                .remove {
                                    font-weight: bold;
                                    font-size: 16px;
                                    width: 30px;
                                    height: 30px;
                                    line-height: 30px;
                                    background: $primary-color;
                                    border-radius: $border-radius;
                                    color: white;
                                    text-align: center;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
            }
            .col-12.col-md-4 {
                .total {
                    background: white;
                    border-radius: $border-radius;
                    border: 1px solid #999;

                    .total-title {
                        text-align: center;
                        font-weight: 700;
                        padding: 10px;
                        border-bottom: 1px solid #999;
                    }
                    .total-content {
                        .price {
                            text-align: center;
                            padding: 30px;
                            font-size: 2rem;
                            font-weight: 500;
                        }
                        .btn.order {
                            display: block;
                            width: 300px;
                            background: $primary-color;
                            margin: auto;
                            margin-bottom: 20px;
                            color: white;
                        }
                    }
                }
            }
        }
    }
}
